@using PerpetuumSoft.Knockout
@model WebShop.Models.Order
@{
    ViewBag.Title = "Details";
    var ko = Html.CreateKnockoutContext();
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

    </dl>
</div>
<table class="table">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Quantity
        </th>
    </tr>

    @foreach (var item in Model.OrderItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/knockout")

    @ko.Apply(Model)
}