@using PerpetuumSoft.Knockout
@model WebShop.Models.Order
@{
    ViewBag.Title = "Details";
    var ko = Html.CreateKnockoutContext();
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

    </dl>
</div>
<table class="table">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Quantity
        </th>
    </tr>

    @foreach (var item in Model.OrderItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
        </tr>
    }

</table>

<form id="myform">
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Stock</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @using (var items = ko.Foreach(m => m.OrderItems))
        {
            <tr>
                <td>@items.Html.TextBox(item => item.Product.Name, new { @class = "required" }).UniqueName()</td>
                <td>@items.Html.TextBox(item => item.Stock, new { @class = "required number" }).UniqueName()</td>
                <td>@ko.Html.Button("Delete", "DeleteOrderItem", "Order", new { index = items.GetIndex() })</td>
            </tr>
        }
    </tbody>
</table>

@ko.Html.Button("Add Product", "NewOrderItem", "Order")
</form>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/knockout")

    @ko.Apply(Model)
}